*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}
.body_G{
    display: flex;
    flex-flow: row wrap;
}
.fa-solid {
    cursor: pointer;
}
input{
    border: none;
}

/* Estilos del header en general*/
.header_G{
    display: flex;
    justify-content: space-between;
    padding: 0% 5%;
    align-items: center;
    margin-top: 2%;
    width: 100%;
}
.logo_G{
    width: 10%;
}
.logo_G > a{
    display: inline-block;
    width: 100%;
}
.logo_G > a > img{
    width: 100%;
    cursor: pointer;
}

.titulo_G{
    background: #45444e;
    color: #ffffff;
    padding: 10px 1%;
    width: 40%;
    text-align: center;
    font-size: 1.5em;
    font-variant-caps: all-small-caps;
    border-radius: 10px;
}
.iconoSup > button{
    border: none;
    border-radius: 100%;
}
.btn-agregarUsuario > .ajustes{
    padding: 10px 8px;
}
.ajustes{
    font-size: 2em;
    background: #d9d9d9;
    padding: 10px;
    padding-bottom: 8px;
    border-radius: 100%;
}
.btn-cancelarC, .btn-guardarC{
    border: none;
    background: none;
    color: #fff;
}
.btn-cancelarC > span {
    margin-right: 20px;
    background: #f32828;
    padding: 8px 13px;
}
.btn-guardarC > span {
    background: #3a9b00;
}


/*Estilos del Main en general*/
.main_G{
    background: #e6e4fa;
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    min-height: 585px;
    position: relative;
    width: 100%;
}
.main_G2{
    width: 70%;
    display: flex;
    flex-flow: row wrap;

}
/*Botones para controlar los cuartos*/
.controles{
    display: flex;
    width: 16%;
    flex-flow: column wrap;
}
.controles > button{
    background: #45444e;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
    border: none;
}
.controles > button:hover, .piso:hover{
    background: #1b1b1f;
    transition: background 0.3s ease 0s;
}
.controles > button:active, .piso:active{
    background: #5e5d6b;
    transition: none;
}
.controles > button > span{
    font-size: 1.6em;
}
.agregar{
    color: #35d8fd;
}
.eliminarCuarto{
    color: #999;
}
.subirCuarto{
    color: #52FF00;
}
.bajarCuarto{
    color: #FF0F0F;
}
/*Esta parte es para el mapeo y los pisos*/
.mapeo{
    width: 84%;
    height: 480px;
}
.mapeo2{
    width: 100%;
    height: 480px;
}
.pisoSeccion{
    width: 100%;
    display: flex;
    justify-content: center;
}
.piso{
    margin: 0 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    background: #45444e;
    color: #fff;
}

/*Aquí serán los estilos del formulario que está en el aside*/
.aside_G{
    display: flex;
    position: relative;
    margin: 2%;
    margin-left: 0;
    width: 24%;
    background: #e6e4fa;
    padding: 2%;
    border-radius: 10px;
    flex-flow: row wrap;
}
.subtitulo_G{
    position: absolute;
    border-radius: 5px;
    right: 43%;
    width: 9%;
    font-size: 1em;
    top: -3%;
    padding: 5px 10px;
}
.subtitulo_G2{
    width: 80%;
    right: 10%;
    top: -2%;
}
.registroDC{
    width: 100%;
}
.registroDC > div{
    display: flex;
    flex-flow: column wrap;
}
#bloque1{
    width: 100%;
}
/*Estilos del la info del bloque*/
.infoCuarto{
    background: #C3C2C6;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 2%;
}
.infoCuarto > input[type = "text"]{
    background: none;
    color: #000;
    font-weight: bolder;
    padding-left: 5px;
}
.infoCuarto > input[type = "color"]{
    border-radius: 5px;
}
/*Estilos de automatización*/
.infoCuarto > span{
    font-size: 1.2em;
}
.autoOn{
    color: #3a9b00;
}
.focoOn{
    color: #ffe000;
}
#autoFoco > .infoCuarto{
    margin: 0;
}
.autoFoco{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F2F2F2;
    margin: auto;
    width: 95%;
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
}
.autoFoco > input{
    background: #C3C2C6;
    font-weight: bold;
    border-radius: 5px;
}

/*Botones de agregar*/
.agregarD{
    display: block;
    width: 80%;
    margin: 5% auto;
    text-align: center;
    background: #45444E;
    color: #fff;
    padding: 4%;
    border-radius: 8px;
    cursor: pointer;
}
.agregarD > .agregar{
    font-size: 1.2em;
}
.agregarD:active{
    background: #33323a;
}
.agregarA{
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 8em;
    transition: color, font-size 0.3s ease 0s;
}
.agregarA:hover{
    color: #ffffff;
    font-size: 10em;
}
.agregarA:hover > .article_Agregar{
    background: #45444e;
}
.article_Agregar{
    background: #d9d9d9;
    display: flex;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    transition: background 0.5s ease 0s;
}

/*Estilos de la caja de dispositivos*/
.dispositivos{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.dispositivoIn{
    display: flex;
    width: 48%;
    margin: 1%;
    background: #45444E;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 4em;
    cursor: pointer;
}
.dispositivoIn > span{
    margin: 15% 0;
    color: #fff;
}